{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mkvice</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/logofinal.png' %}" type="image/x-icon">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/logoblanco.png' %}" alt="Logo" class="logo">
                    </a>
                </li>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'contact' %}">Contacto</a></li>
                <li><a href="{% url 'about' %}">Nosotros</a></li>
                <li>
                    <a href="{% url 'carrito' %}">
                        <img src="{% static 'images/carritofinal.png' %}" alt="Carrito" class="carrito-icono">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="carrito-container">
        <section class="carrito-section">
            <h2>Carrito de Compras</h2>
            {% for item in productos_carrito %}
            <div class="producto">
                <img src="{{ item.foto_url }}" alt="Producto">
                <div class="info-producto">
                    <h3>{{ item.nombre }}</h3>
                    <p>Precio: ${{ item.precio }}</p>
                    <p>Cantidad: {{ item.cantidad }}</p>
                    <form method="post" action="{% url 'quitar' item.id %}">
                        {% csrf_token %}
                        <button type="submit">Eliminar</button>
                    </form>
                </div>
            </div>
            {% endfor %}

            <div class="total-section">
                <h3>Total: ${{ total_carrito }}</h3>
            </div>

            <div class="carrito-form-container">
                <form action="{% url 'carrito' %}" method="post" class="carrito-form">
                    {% csrf_token %}
                    <div>
                        <label for="rut">RUT:</label>
                        <input type="text" id="rut" name="rut" required>
                    </div>
                    <div>
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div>
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" required>
                    </div>
                    <div>
                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" name="correo" required>
                    </div>
                    <div>
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" id="telefono" name="telefono" required>
                    </div>
                    <div>
                        <label for="direccion">Dirección:</label>
                        <input type="text" id="direccion" name="direccion" required>
                    </div>
                    <button type="submit" class="btn-guardar">Pagar</button>
                </form>
            </div>
            <form name='rec20108_btn1' method='post' action='https://www.webpay.cl/backpub/external/form-pay'>
                <input type='hidden' name='idFormulario' value='182231' />
                <input type='hidden' name='monto' value='{{ total_carrito }}' />
                <input type='image' title='Imagen' name='button1' src='https://www.webpay.cl/assets/img/boton_webpaycl.svg' value='Boton 1' />
            </form>
        </section>
    </main>
</body>
</html>
